.search {
  &__container {
    width: 250px;
    height: 50px;
    margin-top: 22px;
    border-radius: 100px;
    border: 1px solid #ffffff26;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__input {
    position: absolute;
    left: 116px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: PT Root UI VF;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    &::placeholder {
      font-family: PT Root UI VF;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 90px;
  }
}
